body {
    background-color: #f4f4f4;
    color: #333;
}
.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.section-title {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#skillsSection ul li {
    font-size: 20px;
}

.resume-section {
    margin-top: 20px;
}
.resume-section h2 {
    margin-bottom: 10px;
}

#show {
    display: none;
}

@media print{
    body *{
        visibility: hidden;
    }

    .non_print_area{
        display: none;
    }

    .print_area, .print_area *{
        visibility: visible;
        margin: 0%;
    }

    .print_area{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

}